# This file may be used to create an environment using:
# $ conda create --name <env> --file <this file>
# platform: linux-64
_libgcc_mutex=0.1=main
_openmp_mutex=5.1=1_gnu
absl-py=2.1.0=pypi_0
accelerate=0.23.0=pypi_0
addict=2.4.0=pypi_0
aiofiles=23.2.1=pypi_0
aiohttp=3.9.3=pypi_0
aioresponses=0.7.6=pypi_0
aiosignal=1.3.1=pypi_0
aliyun-python-sdk-core=2.15.0=pypi_0
aliyun-python-sdk-kms=2.16.2=pypi_0
altair=5.2.0=pypi_0
annotated-types=0.6.0=pypi_0
antlr4-python3-runtime=4.9.3=pypi_0
anyio=4.3.0=pypi_0
apscheduler=3.10.1=pypi_0
asttokens=2.4.1=pypi_0
astunparse=1.6.3=pypi_0
async-timeout=4.0.3=pypi_0
attrs=23.2.0=pypi_0
awscli=1.32.84=pypi_0
backoff=2.2.1=pypi_0
blis=0.7.11=pypi_0
boto3=1.34.84=pypi_0
botocore=1.34.84=pypi_0
ca-certificates=2023.12.12=h06a4308_0
cachetools=5.3.3=pypi_0
catalogue=2.0.10=pypi_0
certifi=2024.2.2=pypi_0
cffi=1.16.0=pypi_0
charset-normalizer=3.3.2=pypi_0
click=8.1.7=pypi_0
clip=1.0=pypi_0
cloudpathlib=0.16.0=pypi_0
cmake=3.28.3=pypi_0
colorama=0.4.4=pypi_0
coloredlogs=15.0.1=pypi_0
comm=0.2.2=pypi_0
confection=0.1.4=pypi_0
contourpy=1.2.0=pypi_0
controlnet-aux=0.0.7=pypi_0
crcmod=1.7=pypi_0
cryptography=42.0.5=pypi_0
cvlib=0.2.7=pypi_0
cycler=0.12.1=pypi_0
cymem=2.0.8=pypi_0
cython=3.0.0=pypi_0
daam=0.2.0=pypi_0
dataclasses-json=0.6.4=pypi_0
decorator=5.1.1=pypi_0
defusedxml=0.7.1=pypi_0
diffusers=0.21.2=pypi_0
dill=0.3.8=pypi_0
distro=1.9.0=pypi_0
docker=6.1.3=pypi_0
docutils=0.16=pypi_0
easydict=1.13=pypi_0
einops=0.7.0=pypi_0
exceptiongroup=1.2.0=pypi_0
executing=2.0.1=pypi_0
fastapi=0.110.0=pypi_0
ffmpy=0.3.2=pypi_0
filelock=3.13.4=pypi_0
flatbuffers=24.3.25=pypi_0
fonttools=4.49.0=pypi_0
frozenlist=1.4.1=pypi_0
fsspec=2024.3.1=pypi_0
ftfy=6.2.0=pypi_0
gast=0.5.4=pypi_0
google-pasta=0.2.0=pypi_0
gputil=1.4.0=pypi_0
gradio=3.35.2=pypi_0
gradio-client=0.12.0=pypi_0
groundingdino=0.1.0=pypi_0
grpcio=1.62.2=pypi_0
h11=0.14.0=pypi_0
h5py=3.11.0=pypi_0
httpcore=1.0.4=pypi_0
httpx=0.27.0=pypi_0
huggingface-hub=0.21.4=pypi_0
humanfriendly=10.0=pypi_0
idna=3.6=pypi_0
imageio=2.34.0=pypi_0
importlib-metadata=7.0.2=pypi_0
importlib-resources=6.1.3=pypi_0
imutils=0.5.4=pypi_0
inference-cli=0.9.13=pypi_0
inference-sdk=0.9.20=pypi_0
inflect=6.0.4=pypi_0
iniconfig=2.0.0=pypi_0
ipython=8.18.1=pypi_0
ipywidgets=8.1.2=pypi_0
jedi=0.19.1=pypi_0
jinja2=3.1.3=pypi_0
jmespath=0.10.0=pypi_0
joblib=1.3.2=pypi_0
jsonschema=4.21.1=pypi_0
jsonschema-specifications=2023.12.1=pypi_0
jupyterlab-widgets=3.0.10=pypi_0
keras=3.3.3=pypi_0
kiwisolver=1.4.5=pypi_0
langcodes=3.3.0=pypi_0
lazy-loader=0.3=pypi_0
ld_impl_linux-64=2.38=h1181459_1
libclang=18.1.1=pypi_0
libffi=3.4.4=h6a678d5_0
libgcc-ng=11.2.0=h1234567_1
libgomp=11.2.0=h1234567_1
libstdcxx-ng=11.2.0=h1234567_1
linkify-it-py=2.0.3=pypi_0
lit=17.0.6=pypi_0
llvmlite=0.42.0=pypi_0
markdown=3.6=pypi_0
markdown-it-py=2.2.0=pypi_0
markupsafe=2.1.5=pypi_0
marshmallow=3.21.1=pypi_0
matplotlib=3.8.3=pypi_0
matplotlib-inline=0.1.6=pypi_0
mdit-py-plugins=0.3.3=pypi_0
mdurl=0.1.2=pypi_0
ml-dtypes=0.3.2=pypi_0
mmcv=2.1.0=pypi_0
mmcv-lite=2.0.1=pypi_0
mmdet=3.3.0=pypi_0
mmengine=0.10.3=pypi_0
mmyolo=0.6.0=pypi_0
model-index=0.1.11=pypi_0
mpmath=1.3.0=pypi_0
multidict=6.0.5=pypi_0
murmurhash=1.0.10=pypi_0
mypy-extensions=1.0.0=pypi_0
namex=0.0.8=pypi_0
ncurses=6.4=h6a678d5_0
networkx=3.2.1=pypi_0
nltk=3.8.1=pypi_0
numba=0.59.1=pypi_0
numpy=1.26.4=pypi_0
nvidia-cublas-cu11=11.10.3.66=pypi_0
nvidia-cublas-cu12=12.1.3.1=pypi_0
nvidia-cuda-cupti-cu11=11.7.101=pypi_0
nvidia-cuda-cupti-cu12=12.1.105=pypi_0
nvidia-cuda-nvrtc-cu11=11.7.99=pypi_0
nvidia-cuda-nvrtc-cu12=12.1.105=pypi_0
nvidia-cuda-runtime-cu11=11.7.99=pypi_0
nvidia-cuda-runtime-cu12=12.1.105=pypi_0
nvidia-cudnn-cu11=8.5.0.96=pypi_0
nvidia-cudnn-cu12=8.9.2.26=pypi_0
nvidia-cufft-cu11=10.9.0.58=pypi_0
nvidia-cufft-cu12=11.0.2.54=pypi_0
nvidia-curand-cu11=10.2.10.91=pypi_0
nvidia-curand-cu12=10.3.2.106=pypi_0
nvidia-cusolver-cu11=11.4.0.1=pypi_0
nvidia-cusolver-cu12=11.4.5.107=pypi_0
nvidia-cusparse-cu11=11.7.4.91=pypi_0
nvidia-cusparse-cu12=12.1.0.106=pypi_0
nvidia-nccl-cu11=2.14.3=pypi_0
nvidia-nccl-cu12=2.18.1=pypi_0
nvidia-nvjitlink-cu12=12.4.127=pypi_0
nvidia-nvtx-cu11=11.7.91=pypi_0
nvidia-nvtx-cu12=12.1.105=pypi_0
omegaconf=2.3.0=pypi_0
onnxruntime-gpu=1.15.1=pypi_0
openai=1.17.0=pypi_0
opencv-contrib-python=4.7.0.72=pypi_0
opencv-python=4.8.0.76=pypi_0
opencv-python-headless=4.9.0.80=pypi_0
opendatalab=0.0.10=pypi_0
openmim=0.3.9=pypi_0
openssl=3.0.13=h7f8727e_0
openxlab=0.0.38=pypi_0
opt-einsum=3.3.0=pypi_0
optree=0.11.0=pypi_0
ordered-set=4.1.0=pypi_0
orjson=3.9.15=pypi_0
oss2=2.17.0=pypi_0
packaging=24.0=pypi_0
pandas=2.2.1=pypi_0
parso=0.8.3=pypi_0
pendulum=3.0.0=pypi_0
pexpect=4.9.0=pypi_0
piexif=1.1.3=pypi_0
pillow=10.2.0=pypi_0
pip=23.3.1=py39h06a4308_0
platformdirs=4.2.0=pypi_0
pluggy=1.4.0=pypi_0
preshed=3.0.9=pypi_0
prettytable=3.10.0=pypi_0
progressbar=2.5=pypi_0
prometheus-client=0.20.0=pypi_0
prometheus-fastapi-instrumentator=6.0.0=pypi_0
prompt-toolkit=3.0.43=pypi_0
protobuf=4.25.3=pypi_0
psutil=5.9.8=pypi_0
ptyprocess=0.7.0=pypi_0
pulp=2.8.0=pypi_0
pure-eval=0.2.2=pypi_0
py-cpuinfo=9.0.0=pypi_0
pyasn1=0.6.0=pypi_0
pybase64=1.3.2=pypi_0
pycocotools=2.0.7=pypi_0
pycparser=2.22=pypi_0
pycryptodome=3.20.0=pypi_0
pydantic=1.10.10=pypi_0
pydantic-core=2.4.0=pypi_0
pydub=0.25.1=pypi_0
pygments=2.17.2=pypi_0
pyparsing=3.1.2=pypi_0
pytest=8.1.1=pypi_0
pytest-asyncio=0.21.1=pypi_0
python=3.9.18=h955ad1f_0
python-dateutil=2.9.0.post0=pypi_0
python-dotenv=1.0.1=pypi_0
python-multipart=0.0.9=pypi_0
pytorch-fid=0.3.0=pypi_0
pytz=2023.4=pypi_0
pyyaml=6.0.1=pypi_0
readline=8.2=h5eee18b_0
redis=5.0.3=pypi_0
referencing=0.33.0=pypi_0
regex=2023.12.25=pypi_0
requests=2.28.2=pypi_0
requests-toolbelt=1.0.0=pypi_0
rf-clip=1.0=pypi_0
rich=13.4.2=pypi_0
rpds-py=0.18.0=pypi_0
rsa=4.7.2=pypi_0
s3transfer=0.10.1=pypi_0
safetensors=0.3.1=pypi_0
scikit-image=0.22.0=pypi_0
scipy=1.12.0=pypi_0
seaborn=0.13.2=pypi_0
semantic-version=2.10.0=pypi_0
setuptools=60.2.0=pypi_0
shapely=2.0.1=pypi_0
six=1.16.0=pypi_0
skypilot=0.4.1=pypi_0
smart-open=6.4.0=pypi_0
sniffio=1.3.1=pypi_0
spacy=3.7.4=pypi_0
spacy-legacy=3.0.12=pypi_0
spacy-loggers=1.0.5=pypi_0
sqlite=3.41.2=h5eee18b_0
srsly=2.4.8=pypi_0
stack-data=0.6.3=pypi_0
starlette=0.36.3=pypi_0
supervision=0.19.0=pypi_0
sympy=1.12=pypi_0
tabulate=0.9.0=pypi_0
tensorboard=2.16.2=pypi_0
tensorboard-data-server=0.7.2=pypi_0
tensorflow-hub=0.16.1=pypi_0
tensorflow-io-gcs-filesystem=0.36.0=pypi_0
termcolor=2.4.0=pypi_0
terminaltables=3.1.10=pypi_0
tf-keras=2.16.0=pypi_0
thinc=8.2.3=pypi_0
thop=0.1.1-2209072238=pypi_0
tifffile=2024.2.12=pypi_0
time-machine=2.14.1=pypi_0
timm=0.9.16=pypi_0
tk=8.6.12=h1ccaba5_0
tokenizers=0.13.3=pypi_0
tomli=2.0.1=pypi_0
toolz=0.12.1=pypi_0
torch=2.1.0=pypi_0
torchvision=0.16.0=pypi_0
tqdm=4.65.0=pypi_0
traitlets=5.14.2=pypi_0
transformers=4.30.2=pypi_0
triton=2.1.0=pypi_0
typer=0.9.0=pypi_0
typing-extensions=4.11.0=pypi_0
typing-inspect=0.9.0=pypi_0
tzdata=2024.1=pypi_0
tzlocal=5.2=pypi_0
uc-micro-py=1.0.3=pypi_0
ultralytics=8.1.47=pypi_0
urllib3=1.26.18=pypi_0
uvicorn=0.28.0=pypi_0
wasabi=1.1.2=pypi_0
wcwidth=0.2.13=pypi_0
weasel=0.3.4=pypi_0
websocket-client=1.7.0=pypi_0
websockets=11.0.3=pypi_0
werkzeug=3.0.2=pypi_0
wheel=0.41.2=py39h06a4308_0
widgetsnbextension=4.0.10=pypi_0
wrapt=1.16.0=pypi_0
xformers=0.0.22.post7=pypi_0
xz=5.4.6=h5eee18b_0
yapf=0.40.2=pypi_0
yarl=1.9.4=pypi_0
yolo-world=0.1.0=pypi_0
zipp=3.17.0=pypi_0
zlib=1.2.13=h5eee18b_0
